<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>About Soft-Coated Wheaten Terrier</h1>
    <a href="/">Back to Home</a>
    <p>The Soft Coated Wheaten Terrier, an exuberant Irish farm dog, is happy, friendly, deeply devoted, and just stubborn enough to remind you he’s a terrier. The unique wheaten coat is low-shedding but needs diligent care to avoid matting.</p>
    <img src="/images/dog.jpg" />

    <a href="/">Back to Home</a>
  </body>
</html>