<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Photo gallery</h1>
    <a href="/">Back to Home</a>
    <p>Aren't they cute?</p>
    <!-- <img src="/images/puppy-wheaten.jpg" /> -->
    

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/images/puppy-wheaten.jpg">
            <img src="/images/puppy-wheaten.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Irresponsible wheaten</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/images/pack.jpg">
            <img src="/images/pack.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Serious wheaten</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/images/terrier.jpg">
            <img src="images/terrier.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Be happy wheaten</p>
            </div>
          </a>
        </div>
      </div>
    </div>

   
  </body>
</html>